@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background-color: #6c7394;
  background-image: url("./background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-top: 20vh;
  padding-bottom: 5vh;
  padding-left: max(calc(50vw - 400px), 0px);
  padding-right: max(calc(50vw - 400px), 0px);
  font-family: "Montserrat", serif;
  overflow-x: hidden;
}

@media screen and (max-width: 800px) {
  body {
    padding-left: max(calc((100vw - 150px) * 50 / 750), 0px);
    padding-right: max(calc((100vw - 150px) * 50 / 750), 0px);
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 45vh;
  font-weight: 700;
  line-height: 33vh;
  text-align: center;
  color: #ffffff88;
  z-index: -1;
  user-select: none;
  pointer-events: none;
}

.control {
  display: flex;
  gap: 1px;
}

@media screen and (max-width: 800px) {
  .control {
    flex-direction: column-reverse;
    gap: 10px;
  }
}

#filter,
#time {
  box-sizing: border-box;
  border: none;
  padding: 10px 25px;
  font-size: 16px;
}

#filter {
  flex: 2 1 0px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

@media screen and (max-width: 800px) {
  #filter {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
  }
}

#time {
  flex: 1 2 0px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

@media screen and (max-width: 800px) {
  #time {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }
}

.header,
.line,
.message {
  padding-left: 20px;
  padding-right: 20px;
}

.header,
.line {
  display: flex;
  gap: 15px;
}

.header {
  margin-top: 30px;
}

.locale {
  flex: 1;
}

.full {
  flex: 3;
}

.date,
.time {
  flex: 2;
}

@media screen and (max-width: 800px) {
  .date,
  .time {
    display: none;
  }
}

#separator {
  padding-top: 10px;
  border-bottom: 1px dashed #00000044;
}

.item,
#empty {
  display: grid;
  grid-template-rows: 0fr;
  transition: 0.3s;
}

.item.active,
#empty.active {
  grid-template-rows: 1fr;
}

.item.template {
  display: none;
}

.content {
  overflow: hidden;
}

.line,
.message {
  margin-top: 10px;
  border-radius: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.line {
  position: relative;
  background-color: #000000ee;
  color: #fff;
}

.message {
  background-color: #00000044;
  color: #444;
}

.width {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 1s;
  user-select: none;
  pointer-events: none;
}

@media screen and (max-width: 300px) {
  .width {
    backdrop-filter: blur(3px);
  }
}

@media screen and (min-width: 300px) {
  .width {
    opacity: 0;
    transition: 0.3s;
  }
}

@media screen and (min-width: 800px) {
  .width {
    display: none;
  }
}

.width::before,
.width::after {
  position: absolute;
  top: calc(50% + 8px);
  font-size: 20px;
}

.width::before {
  left: 0;
  content: "🤛";
}

.width::after {
  right: 0;
  content: "🤜";
}

.face {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  font-size: 30px;
  text-align: center;
}

@media screen and (max-width: 250px) {
  .face {
    animation: vibrate 0.08s infinite alternate;
  }
}

@keyframes vibrate {
  0% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(-10deg);
  }
}

@media screen and (max-width: 200px) {
  .face {
    animation: vibrate 0.1s infinite;
  }
}

footer {
  margin-top: 50px;
  text-align: center;
}
